    <form method="POST" action="/note">
        <input type="text" name="message" placeholder="Type something..." />
        <select name="type" placeholder="Select the type">
            <option value="joke">Joke</option>
            <option value="quote">Quote</option>
        </select>
        <button type="submit">Submit</button>
    </form>